body {
    overflow: hidden;
}

.form-container {
    max-width: 500px; /* Увеличенная максимальная ширина */
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
}

.screen.up {
    margin-top: -100vh;
}

.sw_ogrn {
    display: block;
    color: black;
    padding: 5px;
    border: 2px solid #CED4DA;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 250px;
}

.sw_ogrn:hover {
    color: #CED4DA;
    text-decoration: none;
}