<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация и Авторизация</title>
    <!-- Подключаем Bootstrap CSS через интернет -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 500px; /* Увеличенная максимальная ширина */
            margin: auto; /* Центруем контейнер */
            position: absolute; /* Устанавливаем абсолютное позиционирование */
            top: 35%; /* Смещаем вниз на 50% */
            left: 50%; /* Смещаем вправо на 50% */
            transform: translate(-50%, -50%); /* Центруем по оси X и Y */
        }
    </style>
</head>
<body>

<div class="container mt-5 form-container">
    <h2 class="text-center">Регистрация</h2>
        <form method="POST">
            {% csrf_token %}
            {% for f in form %}
                <div class="form-group">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    {% if f.errors %}
                        <div class="alert alert-danger mt-3">
                            {{ f.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success">Войти</button>
            </div>
        </form>
</div>

<!-- Подключаем jQuery и Bootstrap JS через интернет -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
